*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.addTaskCotainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 1.5rem;
}
.enterTask{
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 500px;
    outline: none;
}
.submitTask{
    padding: 8px;
    border-radius: 5px;
    width: 500px;
    outline: none;
    background-color: #333333;
    color: #fff;
    cursor: pointer;
}